@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

@mixin slogan() {
    .slogan {
        font-size: 105px;
        font-weight: bold;
        line-height: 1;
        position: relative;
        top: -30px;
        svg {
            width: 100%;
        }
    }
}

.wrap {
    max-width: 960px;
    padding: 0 20px;
    margin: auto;
}